# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [135]:
import pandas as pd
import numpy as np

In [136]:
data = {'國家': ['台灣','日本','韓國','泰國'] ,
        '人口': [np.random.randint(1000),np.random.randint(1000),np.random.randint(1000),np.random.randint(1000)]}
data1 = pd.DataFrame(data)
print(data1)

   國家   人口
0  台灣  571
1  日本  330
2  韓國  955
3  泰國  879

In [137]:
data1[data1['人口'] == data1['人口'].max()]

   國家   人口
2  韓國  955

In [138]:
data1['人口']

0    571
1    330
2    955
3    879
Name: 人口, dtype: int64